/** {margin: 0; padding: 0;}*/

#projects {
  background-color:#4B4B4B; 
  color:white;
  border-radius: 6px;
  width: 85%;
  margin: auto;
  padding-top: 14px;
  /*float: left;*/
  margin-top: 20px;
  margin-bottom: 100px;
}

.projects-div {
  margin: 20px;
  padding: 0;
}

.projects-ul {
  list-style-type: none;
  width: 500px;
  /*display:flex;  */
  list-style:none;
}

.projects h1 {
  font: bold italic 42px 'Rouge Script',Helvetica, Verdana, sans-serif;
  color: #FF8000;
  text-decoration: underline;
}

.projects-li img {
  float: left;
  margin: 0 15px 0 0;
  display: inline;
}

.projects-li p {
  font: 200 12px Georgia, Times New Roman, serif;
  /*white-space: nowrap;*/
}

.projects-li {
  text-decoration: none;
  color: white;
  padding: 10px;
  overflow: auto;
}

.projects-li:hover {
  background: #79DADE;
  cursor: pointer;
}

li.projects-li a {
  text-decoration: none;
  color: white;
}