.termwindow {
	margin: 0;
	margin-bottom: 50px;
	width: 70%;
	border-radius: 5px;
	-moz-box-shadow: -5px -5px #333333;
	-webkit-box-shadow: -5px -5px #333333;
	-moz-border-radius: 5px;
	box-shadow: -5px -5px #333333;
	left: 50%;
	transform: translateX(21.3%);
	height: 36.6em;
	box-shadow: 12px 12px 5px #4C4C4C;
}

.termwindow button {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	margin-left: 4px;
	margin-right: 4px;
	border-style: solid;
	border-width: 0.0001px;
	border-color: #CCCCCC;
}

.termheader {
	display: inline-flex;
	white-space:nowrap;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #B3B3B3;
	background: rgba(237,237,237,1);
	background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(15%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,1)));
	background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%, rgba(246,246,246,1) 100%);
	background: -o-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%, rgba(246,246,246,1) 100%);
	background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%, rgba(246,246,246,1) 100%);
	background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 15%, rgba(246,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f6f6f6', GradientType=1 );
}

.termheader:focus {
	outline: none;
}

.termheader.active{
	color: black;
	background: rgba(235,235,235,1);
	background: -moz-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(214,214,214,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,235,235,1)), color-stop(100%, rgba(214,214,214,1)));
	background: -webkit-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(214,214,214,1) 100%);
	background: -o-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(214,214,214,1) 100%);
	background: -ms-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(214,214,214,1) 100%);
	background: linear-gradient(to right, rgba(235,235,235,1) 0%, rgba(214,214,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#d6d6d6', GradientType=1 );
}

.termheader p{
	margin: auto;
	font: bold 13px Monaco;
}

.red {
	background-color: #FF6666;
}

.green {
	background-color: #00CB38;
}

.yellow {
	background-color: #FFDF14;
}

.red.grey, .green.grey, .yellow.grey {
	background-color: #CCCCCC;
}

.termbody {
	height: 35em;
	background: black;
	text-align: left;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.termbody:focus {
	outline: none;
}

.text { 
	position: relative;
	display: inline-block;
	font-family: 'Andale Mono', Monaco, Arial, Helvetica, sans-serif;
	line-height: 14px;
	font-size: 12px;
	color: #4BFF90;
	margin-left: 2px
}


input {
	-webkit-appearance:none;
	-webkit-border-radius: 0;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-style: none;
	width: 0;
	height: 0;
	opacity: 0; 
}

.terminput {
	background-color: black;
	color: #4BFF90;
	font-family: 'Andale Mono', Monaco, Arial, Helvetica, sans-serif;
	line-height: 14px;
	font-size: 12px;

}

#pretext {
	float: left; 
	padding-left: 3px;
	white-space: pre;
}

#pretext::after {
	content: " ";
}

#text {
	float: left;
	margin-left: 2px;
}

#cursor {
	float: left;
	width: 8px;
	height: 14px;
	background: #4BFF90;
}
