/* CSS declarations go here */

* {
  font-family: "Garamond";
}
html, body {height: 100%; position: static; padding:0; margin:0;}
html {
  /*height: 850px;*/
  text-decoration: none;
}

#render-target {
  width: 40%;
  margin: auto;
  padding-top: 20%;
}

a i {
  color: black;
  text-decoration: none; /* no underline */
}

body {
  background-image: url("../images/sky.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0 auto;
  font-size: 20px;
  color: rgb(85.9%, 85.2%, 85.2%);
  text-align: center;
  background-color: rgb(13.1%, 13.2%, 13.1%);
  background-color: rgba(13.1%, 13.2%, 13.1%, 0.7);
}

.navbar ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.navbar li {
  float: left;
  cursor: pointer;
  text-decoration: underline;
}

.navbar li:after {
  /*content: '|';*/
  padding-left: 10px;
  padding-right: 10px;
}

.navbar ul > li > a {
  display: block;
  color: rgb(237, 235, 235);
  color: rgba(237, 235, 235, 0.9);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #111;
}

.center {
  font-family: "Open Sans", Arial;
  text-align: center;
  padding-top: 20px;
  background-color: rgb(13.1%, 13.2%, 13.1%);
  background-color: rgba(13.1%, 13.2%, 13.1%, 0.7);
  color: rgb(237, 235, 235);
  color: rgba(237, 235, 235, 0.9);
  border-radius: 10px;
  padding-bottom: 10px;
}

.center .title {
  color: rgb(247, 247, 247);
  font-size: 34px;
  font-weight: bold;
}

.center .info {
  font-size: 16px;
  padding: 0;
  padding-bottom: 20px;
  font-style: 2px;
  width: 50%;
  margin: auto;
  list-style-type: none;
}

.info li {
  padding-bottom: 5px;
}

.circle {
  width: 25%;
  padding-top: 20px;
  padding-left: 40px;
}

.after-circle {
  width: 25%;
  padding-top: 20px;  
  padding-right: 40px;
}

.circle:before {
  content: ' \25CF';
  font-size: 15px;
  float: right;
}

.after-circle:before{
  content: ' \25CF';
  font-size: 15px;
  float: left;
}

#contact {
  color:white;
  padding: 0;
  margin: auto;
  text-align: center;
}

i {
  font-size: 3.2em;
  margin: 8px;
  /*color: white;*/
}

.fa.fa-shield {
  color: greenyellow;
}

.fa.fa-chevron-circle-right {
  color: black;
}

.fa.fa-facebook-official {
  color: #3981FF;
}

.fa.fa-envelope {
  color: red;
}

.fa.fa-github {
  color: black;
}

.fa.fa-linkedin {
  color: #0B89DF;
}

.fa.fa-spotify {
  color: #17FF42;
}